* {
    box-sizing: border-box;   
}

#main {
	display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: 100px 100px 500px 100px;
    width: 800px;
    height: 800px;
}

#main div {
	border: solid black 1px;
}

#header {
    grid-column: 1 / 3;
}

#nav { 
    grid-column: 1 / 3;
}

#section {
    height: 40%;
}

.article {
    height: 60%;
}

#footer {
    grid-column: 1 / 3;
}