@charset "EUC-KR";

* {
	box-sizing: border-box;
}

#main > div {
	width: 60vw;
	margin-top: 5px;
}

#main > div > * { 
	width: 100%;
}

#content {
	height: 300px;
	resize: none;
}

.btn {
	margin-top: 20px;
	height: 50px;
}
.btn-header {
  border: 1px solid #3b4890;
  background-color: #3b4890;
  color: white;
  transition-duration: 0.4s;
  border-radius: 2px;
}
.btn-header:hover {
  background-color: white;
  color: black;
  border: 1px solid #3b4890;
}

#writer {
	background-color: white;
	border: none;
}
