<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<jsp-file>/WEB-INF/quiz/order_list.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/pizza/order/all</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>pizzaOrderServlet</servlet-name>
		<servlet-class>chap08.servlet.PizzaOrderServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>pizzaOrderServlet</servlet-name>
		<url-pattern>/pizza/order/all_t</url-pattern>
	</servlet-mapping>
	
</web-app>